{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="zh-CN"{% endblock %}
{% block title %}Flask-Bootstrap{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#flasky-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
		</div>
		<div class="collapse navbar-collapse" id="flasky-nav">
			<ul class="nav navbar-nav">
				<li class="avtive"><a href="{{ url_for('main.index') }}">Home</a></li>
				<li><a href="{{ url_for('main.secret') }}">Secret</a></li>
				<li><a href="{{ url_for('main.admin') }}">Admin</a></li>
				<li><a href="{{ url_for('main.moderator') }}">Moderator</a></li>
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
				{% endif %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if current_user.can(Permission.MODERATE_COMMENTS)  %}
				<li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
				{% endif %}
				{% if current_user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
						<li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
						<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	<br>
	{% for category, message in get_flashed_messages(with_categories=true) %}
		<div class="alert alert-{{ category }} fade in" role="{{ category }}">
			{{ message }}
			<button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		</div>
	{% endfor %}
</div>
<div class="container">
	{% block page_content %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!-- <script src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script> -->
{{ moment.include_moment()}}
{% endblock %}
